/* Styles de base */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.container-flex{
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex; /* Ajout de l'affichage flex pour utiliser la disposition flexbox */
    align-items: center; /* Aligner les éléments verticalement */
}

.profile {
    margin-right: 20px; /* espace entre la photo et le texte */
}

.profile img {
    max-width: 100%;
    height: auto;
}

/* Styles de l'en-tête */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Styles pour les sections */
section {
    padding: 50px 0;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Styles pour le pied de page */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


.citation {
border: 1px solid #ddd; /* Couleur de la bordure */
background-color: #f9f9f9; /* Couleur de fond */
padding: 10px; /* Espace intérieur */
margin: 20px 0; /* Marge extérieure */
}
