/* Styles de base */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.profile {
    margin-right: 20px; 
}

.profile img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


section {
    padding: 50px 0;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


.citation {
border: 1px solid #ddd; 
background-color: #d9e0fe3a; 
padding: 10px; 
margin: 20px 0; 
font-style: italic;
}


.round-btn {
    display: inline-block;
    width: 50px; /* Taille du bouton */
    height: 50px; /* Taille du bouton */
    border-radius: 50%; /* Bordure ronde */
    background-color: #00030793; /* Couleur de fond */
    color: white; /* Couleur du texte */
    text-align: center;
    line-height: 50px; /* Centrer le texte verticalement */
    font-size: 24px; /* Taille du texte */
    text-decoration: none; /* Enlever le soulignage du lien */
    margin-right: 10px; /* Marge entre les boutons */
}

.education-item {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.education-item h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 3px;
    margin: 0; 
}

.education-item p {
    color: #666;
    font-size: 10px;
    margin-bottom: 3px;
}

.education-item img {
    margin: 0 auto 10px;
    display: block;
}




#projets {
    background-color: #f9f9f9;
    text-align: center;
}

#publications {
    text-align: center;
}
#skills {
    background-color: #f9f9f9;
    text-align: center;
}

#education {
    text-align: center;
}

#contact {
    background-color: #f9f9f9;
    text-align: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.skill-category {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}

.skill {
    margin-bottom: 10px;
}

.skill h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.skill p {
    font-size: 18px;
}

.skill-icon {
    font-size: 36px;
    margin-bottom: 10px;
}


.publi {
    padding: 10px; /* Espace intérieur */
    border-radius: 10px; /* Bordure arrondie */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre */
    margin-bottom: 5px; /* Marge inférieure */
    position: relative; /* Permet de positionner l'image à l'intérieur */
}

.publi-highlight {
    
    padding: 20px; /* Espace intérieur */
    border-radius: 10px; /* Bordure arrondie */
    box-shadow: 0 0 10px rgba(201, 197, 3, 0.692); /* Ombre */
    margin-bottom: 20px; /* Marge inférieure */
    position: relative; /* Permet de positionner l'image à l'intérieur */
}

.publi h3 {
    margin-top: 0; /* Supprimer la marge supérieure du titre */
}

/* Style des compétences */
.publi p {
    margin: 0; /* Supprimer les marges */
}


.email-address {
    display: inline-block; /* Pour que la largeur soit déterminée par le contenu */
    
    padding-bottom: 3px; /* Espacement en bas */
    margin-right: 10px; /* Espacement entre les adresses e-mail */
}

.email-address i {
    margin-right: 5px; /* Espacement entre l'icône d'enveloppe et l'adresse e-mail */
}

.email-address a {
    color: #007bff; /* Couleur des liens */
    background-color: #f0f0f0;
}

.round-btn2 {
    display: inline-block;
    padding: 10px 20px; /* Ajuster le rembourrage selon les besoins */
    border: none;
    border-radius: 20px; /* Pour un bouton rond */
    background-color: #007bff; /* Couleur de fond */
    color: white; /* Couleur du texte */
    font-size: 16px;
    cursor: pointer; /* Curseur de pointeur au survol */
}

.round-btn2:hover {
    background-color: #0056b3; /* Changement de couleur au survol */
}


#accueil .container {
    background-color: #f9f9f9; /* Couleur de fond du conteneur */
    border-radius: 10px; /* Bordure arrondie */
    padding: 20px; /* Espacement intérieur */
    display: flex; /* Utilisation de la disposition flexbox pour aligner les éléments */
}

.profile img {
    border-radius: 50%; /* Bordure arrondie pour l'image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

.content {
    margin-left: 20px; /* Espacement entre l'image et le texte */
}

h2 {
    font-size: 24px; /* Taille de la police du titre */
    color: #000000; /* Couleur du texte du titre */
    margin-bottom: 10px; /* Marge inférieure pour séparer le titre du contenu */
}

p {
    font-size: 16px; /* Taille de la police du paragraphe */
    line-height: 1.5; /* Hauteur de ligne pour une meilleure lisibilité */
}




.container-flex {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line if they don't fit in one row */
    gap: 20px; /* Adjust the gap between items */
}

/* Individual item styling */
.flex-item {
    flex: 1 1 30%; /* Flex-grow, flex-shrink, and flex-basis */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.flex-item {
    flex: 1;
    min-width: 45%; /* Ajustez cette valeur pour contrôler la largeur minimale des éléments */
    box-sizing: border-box;
}